<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Note Manager</title>
    <link th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body class="container">
<div class="error-box">
    <p>Error:</p>
    <ul class="error-list"></ul>
</div>
<h1 class="title">Add User:</h1>
<form class="form" action="">
    <label class="label">First Name:
        <input type="text" name="firstName" data-add-firstname required/>
    </label>
    <label class="label">Last Name:
        <input type="text" name="lastName" data-add-lastname required/>
    </label>
    <label class="label">Birth Date:
        <input type="date" name="birthDate" value="" data-add-birthdate max="2024-05-01" required/>
    </label>
    <label class="label">Email:
        <input type="email" name="email" data-add-email required/>
    </label>
    <label class="label">Phone:
        <input type="tel" pattern="\d{3}-\d{3}-\d{4}" data-add-phone name="phone" placeholder="XXX-XXX-XXXX"/>
    </label>
    <label class="label">Address:
        <input type="text" name="address" value="" data-add-address/>
    </label>
    <button class="btn" type="submit">Add</button>
</form>
<h2 class="title">Search users by birthdate range:</h2>
<form class="form-search" action="">
    <label class="label-search">Birth Date From:
        <input type="date" name="startDate" value="" max="2024-05-01" required/>
    </label>
    <label class="label-search">Birth Date To:
        <input type="date" name="endDate" value="" max="2024-05-01" required/>
    </label>
    <button class="btn btn-search" type="submit">Search</button>
</form>
<h2 class="title">List Users:</h2>
<ul class="list"></ul>

<!-- The Modal -->
<div id="editModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <h2>Edit User</h2>
            <span class="close-span">&times;</span>
        </div>
        <div class="modal-body">
            <form class="form-edit" action="">
                <input type="hidden" name="id" data-edit-id/>
                <label class="label">First Name:
                    <input type="text" name="firstName" data-edit-firstname required/>
                </label>
                <label class="label">Last Name:
                    <input type="text" name="lastName" data-edit-lastname required/>
                </label>
                <label class="label">Birth Date:
                    <input type="date" name="birthDate" value="" data-edit-birthdate max="2024-05-01" required/>
                </label>
                <label class="label">Email:
                    <input type="email" name="email" data-edit-email required/>
                </label>
                <label class="label">Phone:
                    <input type="tel" pattern="\d{3}-\d{3}-\d{4}" data-edit-phone name="phone" placeholder="XXX-XXX-XXXX"/>
                </label>
                <label class="label">Address:
                    <input type="text" name="address" value="" data-edit-address/>
                </label>
                <div style="padding-top: 4px">
                    <button class="btn" type="submit">Update</button>
                    <button class="btn cancel-btn" type="button">Cancel</button>
                </div>
            </form>
        </div>
    </div>

</div>
<script th:src="@{/js/main.js}"></script>
</body>
</html>